 * {
        margin:0;
        padding:0
    }
    html,body{
        min-height: 100%;
        height: 100%;
        min-width: 100%;
        background-color: #000;
        overflow: hidden;
    }
    body{
        position:fixed;
        font-family: 'PT Sans Narrow',Helvetica,Arial,Verdana,sans-serif;
        visibility:visible;
        top:0;
        right:0;
        left:0;
        -webkit-font-smoothing:antialiased
    }
    #bg-fullscreen {
        position: absolute;
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50% 50%;
        -webkit-transition: opacity 2s ease-in-out;
           -moz-transition: opacity 2s ease-in-out;
            -ms-transition: opacity 2s ease-in-out;
             -o-transition: opacity 2s ease-in-out;
                transition: opacity 2s ease-in-out;

        -webkit-filter: blur(3px);
           -moz-filter: blur(3px);
             -o-filter: blur(3px);
            -ms-filter: blur(3px);
                filter: blur(3px);
    }
        #bg-fullscreen.show {
            -moz-opacity: 0.9;
            -khtml-opacity: 0.9;
            opacity: 0.9;
        }
    #content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
    }
        #content * {
            color: #fff;
        }
        #content h1 {
            font-size: 20em;
            text-shadow: 0px 0px 42px rgba(0, 0, 0, 1);
        }
        #content h3 {
            font-size: 5.4em;
            position: relative;
            top: -0.9em;
            text-shadow: 0px 0px 22px rgba(0, 0, 0, 1);
            -moz-opacity: 0.9;
            -khtml-opacity: 0.9;
            opacity: 0.9;
        }
        #content div.link{
            position: absolute;
            bottom: 80px;
            text-align: center;
            width: 100%;
        }
            #content div a {
                display: inline-block;
                font-size: 3em;
                position: relative;

                padding: 0 30px 5px 30px;
                background-color: #d63a0a;
                color: #fff;
                text-decoration: none;

                -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);
                   -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);
                        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);
            }
                #content a:hover {
                    top: -1px;
                }
                #content a:active {
                    top: +2px !important;
                }
            #content a.home {}

        @media only screen and (max-width: 1280px) {
            #content h1 {
                font-size: 13em;
            }

            #content h3 {
                font-size: 3.8em;
            }

            #content div a {
                font-size: 2em;
            }
        }

        @media only screen and (max-width: 479px) {
            #content h1 {
                font-size: 10em;
            }

            #content h3 {
                font-size: 2.8em;
            }

            #content div a {
                font-size: 1.4em;
            }
        }